

@mixin header-box-style {
  background: #ffffff;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


// Breakpoints system
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 576px) { @content; }
  }
  @if $breakpoint == tablet {
    @media (max-width: 768px) { @content; }
  }
  @if $breakpoint == laptop {
    @media (max-width: 992px) { @content; }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1200px) { @content; }
  }
}
