


<app-comp-b [childMessage]="message"  [data01]="meeting"
[data02]="student" [data03]="employee" [data04]="booking" [data05]="course"
[data06]="order" [data07]="playlist" [data08]="enrollment" [data09]="patientRecord" [data10]="transaction"
[data11]="product" [data12]="movie" [data13]="shipment" [data14]="admission"
[data15]="conference" [data16]="invoice" [data17]="orderNow" [data18]="ticket"
[data19]="transactionBank" [data20]="productSell" [data21]="guestBook"
[data22]="cart" [data23]="restaurantOrder" [data24]="classSchedule"
[data25]="ecommerceOrder">
</app-comp-b>
